.cookies {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: #33333f;
  padding: 10px 15px;
  position: relative;

  &__close {
    background: $PRIMARY;
    border-radius: 50%;
    color: #33333f !important;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0, -50%);
    text-decoration: none !important;
  }
}
