.footer-wrapper {
  background: #00000f;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 30px;
  margin-top: 210px;
  position: relative;
}

.footer-wrapper::before {
  content: '';
  position: absolute;
  top: -210px;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #01003c;
  z-index: -1;
}

.footer-wrapper--dark::before {
  background-color: #010026;
}

.footer-wrapper--single {
  margin-top: 0;
}

.footer-wrapper--single::before {
  display: none;
}

.footer-wrapper a:not(.btn) {
  color: inherit;
  font-weight: 500;
}

.footer-wrapper a:not(.btn):hover {
  color: #ffae00;
  text-decoration: underline;
}

.footer-wrapper .newsletter {
  margin-top: -205px;
  margin-bottom: 30px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.footer p {
  font-weight: 500;
}

@media (min-width: 768px) {
  .footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 991px) {
  .footer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .footer {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .footer .social-icons {
    margin-bottom: 20px;
  }
}

.footer__copy {
  display: -ms-grid;
  display: grid;
  margin-top: 35px;
  border-top: 1px solid #33333f;
  padding-top: 30px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 991px) {
  .footer__copy {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 991px) {
  .footer__realization {
    text-align: right;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__menu--block {
  display: block;
  margin-bottom: 0;
}

.footer__menu__link--active {
  color: #ffae00 !important;
  text-decoration: underline;
}

section {
  padding: 40px 0;
}

@media (min-width: 1200px) {
  section {
    padding: 70px 0;
  }
}

.numbers-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10vw;
}

.numbers-wrapper--block {
  grid-column-gap: 0;
}

.numbers-wrapper--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 30px;
}

@media (min-width: 1200px) {
  .numbers-wrapper--flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.numbers-wrapper--flex .number {
  width: auto !important;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .numbers {
    grid-row-gap: 50px;
  }
}

.numbers__item {
  color: #ffae00;
  font-size: 28px;
  font-weight: 500;
  border-left: 7px solid #f5f3fb;
  border-radius: 4px;
  padding-left: 30px;
  min-width: 260px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.numbers__item:hover {
  opacity: 0.6;
}

@media (min-width: 576px) {
  .numbers__item {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  .numbers__item {
    font-size: 48px;
    min-height: 180px;
  }
}

.numbers__item small {
  font-size: 20px;
  font-weight: bold;
  color: #08bfff;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 25px;
}

.number--block {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.number__image {
  max-width: 100px;
}

.number__header {
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 48px;
  color: #ffae00;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number__header > small {
  font-size: 14px;
  line-height: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.number__desc {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  line-height: 26px;
  margin-top: 10px;
  white-space: nowrap;
}

.main-slider-wrapper {
  background-image: linear-gradient(50deg, #010025 0%, #01003d 100%);
  padding: 30px 0;
}

.main-slider-wrapper .owl-dots {
  position: absolute;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  width: 35px;
  padding: 10px;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 4px;
}

.main-slider-wrapper .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #08bfff;
}

.main-slider-wrapper .owl-dots .owl-dot.active {
  height: 50px;
  background: #08bfff;
  border-radius: 8px;
}

.main-slider {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 70px;
}

@media (min-width: 768px) {
  .main-slider .btn {
    margin-bottom: 0px;
  }
}

@media (min-width: 991px) {
  .main-slider {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.main-slider .btn {
  margin-bottom: 20px;
}

.main-slider__content {
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .main-slider__content {
    padding-bottom: 75px;
    text-align: left;
  }
}

.main-slider__content h1 {
  color: #fff;
}

.main-slider__content h1 br {
  display: none;
}

@media (min-width: 1200px) {
  .main-slider__content h1 br {
    display: block;
  }
}

.main-slider__images {
  grid-column-gap: 20px;
  padding-bottom: 110px;
  display: none !important;
  opacity: 0.7;
}

@media (min-width: 991px) {
  .main-slider__images {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.main-slider__images img:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: calc(50% - 20px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__images img:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: calc(50% - 20px);
  margin-top: 110px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__images img:only-child {
  max-width: 100%;
  border-radius: 25px;
  margin: 0;
}

.main-slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.main-slider .owl-nav button {
  width: 60px;
  height: 60px;
  background: #08bfff !important;
  color: #fff !important;
  border-radius: 50%;
}

.main-slider .owl-nav .owl-next {
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: #ffae00 !important;
}

.service-wrapper {
  padding-top: 20px;
}

.service {
  background: #fff;
  padding: 20px;
  position: relative;
}

.service .flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 991px) {
  .service .flex {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 991px) {
  .service__content {
    padding: 25px 50px;
  }
}

.service p {
  margin-bottom: 40px;
  line-height: 30px;
}

.training {
  display: -ms-grid;
  display: grid;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  border-radius: 4px;
  overflow: hidden;
}

.training .rating {
  margin-top: 10px;
}

@media (min-width: 991px) {
  .training .rating {
    position: absolute;
    top: 10px;
    right: 150px;
    margin-top: 0;
  }
}

.training__badge {
  background: #08bfff;
  color: #fff;
  text-transform: uppercase;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 3px;
  z-index: 1;
}

.training__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  grid-row-gap: 20px;
}

.training__prices > div {
  width: 100%;
}

@media (min-width: 991px) {
  .training {
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
    grid-column-gap: 40px;
  }
}

.training a {
  color: #ffae00;
  text-decoration: underline;
  font-weight: bold;
}

.training h1 {
  text-align: left;
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 36px;
  margin-top: 20px;
}

.training hr {
  max-width: 210px;
}

.training__logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 24% !important;
}

.login {
  background-image: linear-gradient(50deg, #010025 0%, #01003d 100%);
  padding-top: 0;
  padding-bottom: 75px;
}

.login h1 {
  margin-bottom: 0 !important;
  font-size: 40px !important;
}

.login h1 + .hr {
  margin-top: 10px !important;
}

@media (max-width: 1200px) {
  .login .forms-wrapper {
    display: block;
  }
  .login .forms-wrapper > div {
    margin-top: 25px;
  }
  .login .forms-wrapper .btn[type='submit'] {
    margin-top: 25px !important;
  }
}

.login .highlighted {
  color: #ffae00;
}

.login .highlighted img {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.login .list {
  margin-bottom: 0px;
}

.login .list li {
  font-weight: normal;
}

.login .service {
  padding: 10px;
}

@media (min-width: 991px) {
  .login .service {
    padding: 50px;
  }
}

.login .input {
  margin-bottom: 28px;
}

.login__form {
  border-radius: 10px;
  background-color: #08bfff;
  padding: 20px;
  height: 100%;
}

@media (min-width: 991px) {
  .login__form {
    padding: 50px;
  }
}

.login__form:not(.register-form) .btn[type='submit'] {
  margin-top: 155px;
}

.login__form .btn {
  margin-top: 28px;
  margin-bottom: 45px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #010026;
  font-weight: 700;
}

.login .input {
  width: 100%;
}

.register-form {
  background-color: #05609a;
}

.register-form .input {
  background-color: #044d83;
}

.newsletter {
  background: #08bfff;
  border-radius: 10px;
  padding: 40px;
  color: #010026;
  position: relative;
}

.newsletter > * {
  position: relative;
  z-index: 1;
}

.newsletter::before {
  content: '';
  position: absolute;
  pointer-events: none;
  background: url(../../svg/newsletter.svg);
  width: 150px;
  height: 150px;
  top: 20px;
  left: 5px;
  background-size: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 0;
}

.newsletter__input-wrapper {
  position: relative;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .newsletter {
    padding: 40px 130px;
  }
}

@media (min-width: 1200px) {
  .newsletter {
    margin: 0 150px;
  }
}

.newsletter h2 {
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 30px;
  color: #010026;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.newsletter h3 {
  font-size: 18px;
  line-height: 30px;
  color: #010026;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.newsletter form {
  position: relative;
}

.newsletter label {
  font-size: 14px;
  line-height: 20px;
  color: #045f92;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.newsletter .input {
  background: #0799d4;
  border-radius: 35px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
}

@media (min-width: 576px) {
  .newsletter .input {
    padding-right: 200px;
    margin: 0;
  }
  .newsletter .input + button {
    position: absolute;
    right: 0;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.projects-wrapper {
  background: #010026;
}

.projects-wrapper--list {
  padding-top: 0;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  margin-top: 75px;
  margin-bottom: 100px;
}

@media (min-width: 991px) {
  .projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .projects {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 75px;
  }
}

.project {
  border-radius: 10px;
  background-color: #010026;
  border: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-bottom: 45px;
  -ms-grid-rows: 270px auto auto;
      grid-template-rows: 270px auto auto;
  grid-row-gap: 25px;
}

.project--text {
  padding: 25px;
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.project--text .project__header {
  font-size: 40px;
  line-height: 50px;
  color: #ffae00;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .project--text .project__header {
    font-size: 50px;
    line-height: 60px;
  }
}

.project--text .project__desc {
  font-size: 16px;
  line-height: 30px;
}

.project__header {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .project__header {
    font-size: 30px;
    line-height: 40px;
  }
}

.project__image {
  border-radius: 10px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project__desc {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 20px;
}

.project .btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.roadmap-wrapper {
  background-image: linear-gradient(130deg, #01003d 0%, #010025 100%);
}

.roadmap-wrapper h2 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.roadmap .owl-nav {
  margin-top: 75px;
  margin-bottom: 35px;
  text-align: center;
}

.roadmap .owl-item:not(.active.center) {
  opacity: 0.3;
}

.roadmap__header {
  margin-bottom: 20px;
}

.roadmap__item {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #010026;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 576px) {
  .roadmap__item {
    padding: 37px;
  }
}

.roadmap__item__check {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
}

.partners-wrapper {
  background-color: #010029;
  padding: 75px 0;
}

.partners-wrapper h2 {
  margin-bottom: 75px;
}

.partners {
  padding: 0 100px;
  position: relative;
}

@media (min-width: 991px) {
  .partners {
    padding: 0 150px;
  }
}

.partners__item {
  opacity: 0.6;
  padding: 10px;
}

@media (min-width: 991px) {
  .partners__item {
    padding: 40px;
    border-right: 1px solid #343354;
    border-left: 1px solid #343354;
  }
}

.partners .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.partners .owl-nav .owl-next {
  float: right;
}

.team-wrapper {
  background-size: cover;
  background-position: center;
  background-color: #020029;
}

.team-wrapper--wide .team {
  border: none;
  padding: 0;
  background: none;
}

.team-wrapper--wide .team__carousel {
  padding-right: 0 !important;
}

.team-wrapper--wide .owl-nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 576px) {
  .team-wrapper--wide .owl-nav {
    padding: 0 15px;
  }
}

.team-wrapper--wide .owl-nav .owl-next {
  margin-right: 10px !important;
}

.team-wrapper h2 {
  margin-bottom: 75px;
  margin-top: 20px;
}

.team {
  border-radius: 10px;
  background-color: #010026;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

@media (min-width: 768px) {
  .team {
    padding: 45px;
  }
}

.team__carousel {
  position: relative;
}

@media (min-width: 768px) {
  .team__carousel {
    padding: 0 100px;
  }
}

@media (min-width: 991px) {
  .team__carousel {
    padding: 0 150px;
  }
}

.team__carousel .owl-nav {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .team__carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -100px;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    text-align: unset;
    margin-top: 0;
  }
}

@media (min-width: 991px) {
  .team__carousel .owl-nav {
    left: -150px;
  }
}

@media (min-width: 768px) {
  .team__carousel .owl-nav .owl-next {
    float: right;
    margin-right: -100px;
  }
}

@media (min-width: 991px) {
  .team__carousel .owl-nav .owl-next {
    margin-right: -150px;
  }
}

.team__carousel .owl-item:not(.active) {
  opacity: 0.3;
}

.team__item {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 35px;
  width: 300px;
}

@media (min-width: 576px) {
  .team__item {
    width: 370px;
  }
}

.team__item--center {
  margin: 0 auto;
}

.team__item__ico {
  max-width: 55px;
}

.team__item--v2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  grid-column-gap: 20px;
  width: auto;
  max-width: 550px;
  padding: 60px 0;
}

.team__item--v2 > div {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.team__avatar {
  width: 122px !important;
}

.team__header {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.team__role {
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.team__desc {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.team__icons {
  justify-self: flex-start !important;
}

.team__icons .social-icons__icon {
  width: 24px;
}

.faq-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#010025), to(#01003d));
  background-image: linear-gradient(180deg, #010025 0%, #01003d 100%);
  padding: 75px 0;
}

.faq {
  border-radius: 10px;
  background-color: #010026;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

@media (min-width: 768px) {
  .faq {
    padding: 45px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .faq {
    margin: 0 150px;
  }
}

.faq__header {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq__dec {
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.faq__item {
  font-size: 18px;
  line-height: 20px;
  color: #010026;
  font-weight: 600;
  border-radius: 10px;
  background-color: #08bfff;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 90%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item--active {
  background-color: #ffae00;
  width: 100%;
}

.faq__area {
  display: none;
}

.buy-tokens-wrapper {
  background-position: top right;
  margin-top: 80px;
  padding-bottom: 75px;
}

.buy-tokens {
  border-radius: 10px;
  background-color: #08bfff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 20px;
}

@media (min-width: 991px) {
  .buy-tokens {
    padding: 45px;
  }
}

@media (min-width: 1200px) {
  .buy-tokens {
    margin: 0 150px;
  }
}

.buy-tokens h2 {
  color: #010026;
  font-size: 30px;
  line-height: 40px;
  color: #010026;
  font-weight: 700;
  letter-spacing: unset;
}

.buy-tokens p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(1, 0, 38, 0.7);
  font-weight: 500;
}

.buy-tokens .btn {
  font-size: 18px;
  letter-spacing: 2px;
  color: #010026;
  font-weight: 600;
  padding: 0 25px;
}

.buy-tokens--dark {
  background-color: #010026;
  color: #ffae00;
  margin: 75px 0;
}

.buy-tokens--dark h2 {
  color: #ffae00;
}

.buy-tokens--dark p {
  color: #fff;
}

.buy-tokens--dark .token__desc {
  background-color: #1b1a3c;
}

.buy-tokens--dark .token__desc > div > div:last-child {
  color: #fff;
}

.buy-tokens--dark .Invest-counter__body {
  background-color: #1b1a3c;
}

.buy-tokens--dark .Invest-counter__value-line {
  background: #08bfff;
}

.buy-tokens--dark .Invest-counter__value-line-wrapper {
  background-color: #1b1a3c;
}

.buy-tokens--dark .Invest-counter__source {
  color: #08bfff;
}

.buy-tokens--dark .Invest-counter__source > div {
  color: inherit;
}

.token {
  grid-column-gap: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (min-width: 991px) {
  .token {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 0.6fr;
        grid-template-columns: 0.4fr 0.6fr;
  }
}

@media (min-width: 991px) {
  .token {
    grid-column-gap: 50px;
  }
}

.token__desc {
  border-radius: 10px;
  background-color: #0685bd;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
  text-align: left;
}

.token__desc > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.token__desc > div > div:last-child {
  color: #010026;
}

.token__countdown__icons {
  text-align: left;
}

.token__countdown__icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 10px;
}

.token__countdown__desc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
}

.token__countdown__desc--margin {
  margin-right: 50px;
}

.contact__info {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
}

@media (min-width: 991px) {
  .contact__info {
    -ms-grid-columns: 0.4fr 0.6fr;
        grid-template-columns: 0.4fr 0.6fr;
    grid-column-gap: 20px;
  }
}

.contact p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
}

.contact a {
  color: #ffae00;
}

#MAP {
  height: 440px;
  margin-bottom: 25px;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  #MAP {
    margin-bottom: 75px;
  }
}

.about-wrapper {
  background-image: linear-gradient(50deg, #010025 0%, #01003d 100%);
}

.about-wrapper > section {
  background-color: transparent !important;
}

.about-wrapper--long {
  border-bottom: 2px solid #343434;
  padding-bottom: 25px;
}

.about-wrapper--long > section {
  padding: 0 !important;
}

.about-wrapper--long .projects-wrapper {
  margin-top: 30px;
}

.about-wrapper--long .about {
  padding-top: 70px;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  z-index: 1;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  overflow: hidden;
}

.about__content--space {
  margin: 35px 0;
}

@media (min-width: 991px) {
  .about__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about__content p {
    padding-right: 10vw;
  }
}

.about__content .btn {
  margin-bottom: 50px;
}

.about__image-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 991px) {
  .about__image-wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.about__image {
  opacity: 0.6;
}

.about__image--rounded {
  border-radius: 25px;
  opacity: 1;
}

.menu-wrapper {
  background: #020029;
  z-index: 9;
  position: relative;
}

.menu {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menu > div {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffae00;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu__close {
    display: none;
  }
}

@media (min-width: 576px) {
  .menu {
    padding: 15px 0;
  }
}

@media (min-width: 768px) {
  .menu {
    padding: 25px 0;
    grid-column-gap: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .menu .language-select {
    position: static;
  }
  .menu .arr-down {
    font-size: 12px;
  }
}

.menu__logo {
  max-width: 100px;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .menu__logo {
    min-width: 120px;
    max-width: 150px;
  }
}

@media (min-width: 576px) {
  .menu__logo {
    min-width: 120px;
    max-width: 100%;
  }
}

.menu .btn {
  min-width: unset;
  height: 40px;
}

@media (max-width: 576px) {
  .menu .btn {
    padding: 5px;
    font-size: 12px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .menu .btn {
    padding: 0;
    font-size: 10px;
    height: 25px;
  }
}

.menu__list {
  display: none;
  grid-column-gap: 20px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  position: absolute;
  left: 20px;
  bottom: 10px;
  right: 0;
  overflow: auto;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .menu__list {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: static;
    overflow: unset;
    grid-column-gap: 2vw;
  }
}

.menu__list--open {
  position: fixed;
  inset: 0;
  display: -ms-grid;
  display: grid;
  background: #010026db;
  text-align: center;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 20px;
}

.menu__list--open a {
  font-size: 24px;
}

.menu__link {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none !important;
  white-space: nowrap;
}

.menu__link--active {
  color: #ffae00;
}

.menu__toggle {
  color: #ffae00;
  font-size: 24px;
}

@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.btn {
  border-radius: 25px;
  font-size: 14px;
  border-width: 2px;
  border-style: solid;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
  text-decoration: none !important;
  min-width: 180px;
  padding: 0 15px;
  cursor: pointer;
}

.btn--small {
  min-width: unset;
}

.btn--big {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 0 25px;
}

.btn--primary {
  background: #ffae00;
  border-color: #ffae00;
  color: #010026;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--primary:hover {
  color: #010026;
  -webkit-box-shadow: 1px 2px 4px 0px #ffae00;
          box-shadow: 1px 2px 4px 0px #ffae00;
}

.btn--secondary {
  background: #01002a;
  border-color: #ffae00;
  color: #ffffff;
}

.btn--secondary:hover {
  color: #ffffff;
}

.btn--primary-color {
  color: #ffae00 !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.btn--block {
  width: 100%;
}

.btn--dark {
  background-color: #010034;
  color: #ffffff;
}

.btn + .btn {
  margin-left: 25px;
}

.btn__icon {
  height: 25px;
}

.language-select {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-inline-grid;
  display: inline-grid;
  cursor: pointer;
  width: 50px;
  height: 30px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-column-gap: 5px;
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  grid-area: none;
  justify-self: flex-end;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .language-select {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    grid-area: unset;
    width: 60px;
    height: unset;
  }
}

@media (min-width: 1200px) {
  .language-select {
    margin-left: 10px;
  }
}

.language-select::after {
  content: '\f078';
  color: #ffae00;
  font-size: 10px;
  line-height: 20px;
  font-family: FontAwesome;
}

.language-select__selected-lang {
  width: 30px;
  height: 30px;
}

.language-select .dropdown {
  margin-top: 5px;
  grid-row-gap: 10px;
  top: 100%;
  padding: 10px;
}

.dropdown {
  background-color: #01002a;
  border-radius: 5px;
  position: absolute;
  padding: 15px;
  display: none;
  grid-row-gap: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  right: 0;
}

.dropdown a {
  color: #fff;
  text-decoration: none !important;
}

@media (min-width: 576px) {
  .dropdown {
    padding: 30px;
    font-size: 16px;
  }
}

.dropdown--open {
  display: -ms-grid;
  display: grid;
}

.arr-down {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}

.arr-down::after {
  content: '\f078';
  color: #ffae00;
  font-size: 10px;
  font-family: FontAwesome;
  margin-left: 9px;
}

.arr-down:hover .dropdown {
  display: -ms-grid;
  display: grid;
}

.arr-down .dropdown {
  white-space: nowrap;
  text-align: left;
  z-index: -1;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
}

@media (min-width: 768px) {
  .social-icons--color {
    grid-column-gap: 30px !important;
  }
}

.social-icons--color .social-icons__icon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
}

@media (min-width: 1200px) {
  .social-icons {
    grid-column-gap: 25px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.social-icons__icon {
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-icons__icon--tik-tok {
  background: #1a1b1d;
}

.social-icons__icon--fb {
  background: #422cb7;
}

.social-icons__icon--tw {
  background: #42c4ea;
}

.social-icons__icon--ln {
  background: #42c4ea;
}

.social-icons__icon--in {
  background: #a1887f;
}

ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.list {
  margin-bottom: 50px;
}

.list li {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 15px;
  top: 5px;
}

.list li::before {
  content: '-';
  position: absolute;
  left: 0;
}

.person {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person--big {
  font-size: 24px;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
}

.person__avatar {
  width: 100px;
}

.person__avatar--small {
  width: 70px;
}

.person__role {
  font-size: 14px;
  font-style: italic;
  color: #c8c8c8;
}

.person__role--normal {
  font-size: 17px;
  font-style: normal;
}

.badge {
  font-size: 20px;
  letter-spacing: 4px;
  color: #01003a !important;
  font-weight: 800;
  background-color: #08bfff;
  border-radius: 25px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #08bfff;
  margin: 0 10px;
  text-decoration: none !important;
}

.badge--reverse {
  color: #08bfff !important;
  background: transparent;
  border-color: #4d4c67;
}

.badge--light {
  border-radius: 10px;
  background-color: #032656;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #ffffff !important;
  font-weight: 600;
  border: none;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 20px;
}

.badge--lighteen {
  border-radius: 10px;
  background-color: #343355;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #ffffff !important;
  font-weight: 600;
  border: none;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .badge + .badge {
    margin-top: 20px;
  }
}

.pagination {
  margin-top: 50px;
}

.pagination__item {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid rgba(190, 102, 214, 0.3);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none !important;
}

@media (min-width: 991px) {
  .pagination__item {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.pagination__item--active {
  background: #ffae00;
  position: relative;
  color: #ffffff !important;
  -webkit-filter: drop-shadow(0.766px 0.643px 0.5px rgba(66, 44, 183, 0.3));
          filter: drop-shadow(0.766px 0.643px 0.5px rgba(66, 44, 183, 0.3));
}

.pagination__item--active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: #ffffff;
  display: block;
  height: 1px;
  background-color: #fff;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.pagination__item:first-child, .pagination__item:last-child {
  color: #ffae00;
}

.breadcrumb {
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 700;
  padding: 35px 0;
  text-transform: uppercase;
}

.breadcrumb a,
.breadcrumb div {
  font-size: 20px;
  font-weight: 600;
}

.breadcrumb a {
  text-decoration: none !important;
  color: #fff;
  position: relative;
  white-space: nowrap;
}

.breadcrumb a::after {
  content: '/';
}

.breadcrumb a:last-of-type::after {
  color: #fff;
}

.breadcrumb span {
  color: #fff;
}

.rating {
  font-size: 14px;
  color: #4b4044;
  font-weight: 500;
}

.rating__star {
  color: #a095db;
  cursor: pointer;
  font-size: 18px;
  margin: 0 2px;
  display: inline-block;
  vertical-align: text-bottom;
}

.rating__star--active, .rating__star:hover {
  color: #08bfff;
}

.rating__star:hover ~ .rating__star {
  color: #a095db !important;
}

.rating__rate {
  color: #08bfff;
}

.contact-box {
  background: #08bfff;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
  max-width: 1060px;
  width: 100%;
  margin: 25px auto;
}

@media (max-width: 768px) {
  .contact-box > div {
    margin-bottom: 20px;
  }
}

.contact-box .btn {
  width: 100%;
  margin-left: 0;
}

.contact-box .btn:first-of-type {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .contact-box {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr auto auto;
        grid-template-columns: 1fr auto auto;
    padding: 20px 40px;
    margin: 50px auto;
  }
  .contact-box .btn {
    width: auto;
    margin-left: 25px;
    margin-bottom: 0;
  }
  .contact-box .btn:first-of-type {
    margin-bottom: 0;
  }
}

.contact-form {
  padding: 20px;
  background-image: none;
}

@media (min-width: 991px) {
  .contact-form {
    padding-right: 40%;
    padding: 50px;
    background-size: cover;
    background-position: center right;
  }
}

.contact-form__header {
  font-size: 30px;
  letter-spacing: 6px;
  color: #020036;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.contact-form__label {
  margin-bottom: 20px;
}

.contact-form__label label {
  color: #02003694 !important;
  display: block;
}

.contact-form .btn--block {
  max-width: 460px;
  margin-top: 10px !important;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .contact-form .flex {
    display: block;
  }
}

form .label {
  font-size: 16px;
  color: #020036;
  font-weight: 600;
  display: block;
}

form .label > span {
  padding-left: 25px;
}

form .label .input {
  margin-top: 10px;
}

form a {
  font-size: 14px;
  line-height: 20px;
  color: #020036;
  font-weight: 500;
}

form strong {
  font-size: 18px;
  letter-spacing: 2px;
  color: #010026;
  font-weight: 600;
}

form .btn {
  min-width: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-login .btn {
  margin-bottom: 0;
}

.input {
  border-radius: 35px;
  background-color: #0799d4;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none !important;
  padding: 0 25px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}

textarea.input {
  height: 150px;
  line-height: 1;
  text-align: left;
  padding: 25px;
}

.input-textarea {
  width: 100%;
  height: 100px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #6856c5;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  position: relative;
}

.inputfile + label::before {
  content: '...';
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: #53459e;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.inputfile + label * {
  pointer-events: none;
}

.checkbox {
  display: none;
}

.checkbox + label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #020036;
  font-weight: 500;
}

.checkbox + label::before {
  content: '';
  width: 22px;
  height: 22px;
  border: 1px solid #010026;
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: 4px;
}

.checkbox:checked + label::after {
  content: '\2713';
  color: #010026;
  width: 22px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  left: 5px;
  top: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: #ffae00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.table th,
.table td {
  padding: 15px;
}

.table th {
  padding-bottom: 0;
  font-weight: normal;
}

.table tbody td {
  background: #eceaf8;
}

.table tbody td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.table tbody td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cookies {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: #33333f;
  padding: 10px 15px;
  position: relative;
}

.cookies__close {
  background: #ffae00;
  border-radius: 50%;
  color: #33333f !important;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-decoration: none !important;
}

.check {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #08bfff;
  color: #010026;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.check::before {
  content: '\2713';
  font-size: 20px;
  font-weight: normal;
}

.owl-nav button {
  width: 70px;
  height: 40px;
  background: #ffae00 !important;
  color: #010026 !important;
  border-radius: 25px;
  margin: 0 10px;
}

@media (min-width: 991px) {
  .owl-nav button {
    width: 115px;
    height: 50px;
  }
}

.owl-nav button .fa {
  font-size: 24px;
}

.Count-down-timer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.Count-down-timer > div {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 991px) {
  .Count-down-timer > div {
    font-size: 20px;
  }
}

.Count-down-timer > div span {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
}

@media (min-width: 991px) {
  .Count-down-timer > div span {
    font-size: 20px;
  }
}

.Invest-counter__header {
  font-weight: 500;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-bottom: 20px;
  margin-bottom: 35px;
}

.Invest-counter__source {
  font-size: 20px;
  line-height: 36px;
  color: #010026;
  font-weight: 700;
  text-align: left;
}

.Invest-counter__source > div {
  display: inline-block;
  color: #fff;
}

.Invest-counter__target {
  font-size: 20px;
  line-height: 36px;
  color: #010026;
  font-weight: 700;
  text-align: right;
}

.Invest-counter__value-line-wrapper {
  background: #0685bd;
  border-radius: 10px;
  height: 20px;
  position: relative;
  margin: 5px 0;
  margin-bottom: 10px;
}

.Invest-counter__value-line {
  background-color: #010026;
  border-radius: 10px;
  height: 20px;
  position: relative;
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.Invest-counter__body {
  padding: 25px 5px;
  background-color: #0685bd;
  border-radius: 10px;
  margin-bottom: 45px;
}

@media (max-width: 991px) {
  .Invest-counter__body {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .Invest-counter__body {
    display: block;
  }
}

.banner {
  border-radius: 10px;
  background-color: #ffae00;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 70px auto;
  max-width: 1330px;
  padding: 50px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
}

@media (min-width: 991px) {
  .banner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}

.banner__header {
  font-size: 30px;
  line-height: 40px;
  color: #010026;
  font-weight: 700;
  margin-bottom: 40px;
}

.banner__desc {
  font-size: 16px;
  line-height: 26px;
  color: #010026;
  font-weight: 500;
}

.banner .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.banner > div:last-child {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (min-width: 1200px) {
  .files {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.file {
  border-radius: 10px;
  background: #ffae00;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  text-decoration: none;
  color: #01002d !important;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 0 15px;
  height: 80px;
  grid-column-gap: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.file:hover {
  text-decoration: underline;
  background: #08bfff;
}

@media (min-width: 991px) {
  .file {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  .file {
    -ms-flex-preferred-size: calc(25% - 20px);
        flex-basis: calc(25% - 20px);
  }
}

.file__ico {
  width: 30px;
}

.file--active {
  background: #08bfff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4b4044;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: #4b4044;
}

a:hover, a:active {
  color: #ffae00;
  text-decoration: underline;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #4b4044;
  background-color: #f5f4fb;
}

h1 {
  font-size: 40px;
  color: #4b4044;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }
}

h1 strong {
  color: #ffae00;
}

h2 {
  font-size: 24px;
  color: #08bfff;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h2 > div {
  color: #ffae00;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

h2.big {
  font-weight: 800;
  letter-spacing: 10px;
  font-size: 40px;
}

@media (min-width: 1200px) {
  h2.big {
    font-size: 50px;
  }
}

h3 {
  font-size: 30px;
  color: #4b4044;
  font-weight: bold;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h6 {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 480px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex: 1 1 0px;
        flex: 1 1 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 991px) {
  .flex > * {
    width: 100%;
  }
}

.relative {
  position: relative;
}

.hr {
  margin: 20px 0;
  border-bottom: 1px solid #d3d0d6;
  max-width: 210px;
}

.highlighted {
  color: #08bfff;
  font-weight: bold;
}

.no-bg {
  background: transparent;
}

.no-pd {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0 !important;
}

.underline {
  text-decoration: underline;
}

.normal {
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 25px;
}

.white {
  color: #fff !important;
}

.lowercase {
  text-transform: unset !important;
}

.yellow {
  color: #ffae00 !important;
}
/*# sourceMappingURL=style.css.map */